/* AgregarEmprendedores.css */








.emprendedoresContainer {
    grid-column: 2/3 !important;
    grid-row: 2 !important;
    background: linear-gradient(to right, #054d11, #78b87b);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.emprendedoresContainer2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerEmprendedores {
    width: 45%;
    display: flex;
    flex-direction: column;
}

#h2Titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#btnAgregarEmprendedor {
    margin-top: 20px;
    background-color: #ff6f61;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnAgregarEmprendedor:hover {
    background-color: #ff3d2e;
}

#contenedorEmprendedores {
    width: 45%;
}

.emprendedor {
    background: #ffffff;
    color: #000;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

#btnEmprendedorEdit,
#btnEmprendedorDelete {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btnEmprendedorEdit {
    background-color: #4caf50;
    color: #fff;
}

#btnEmprendedorEdit:hover {
    background-color: #45a049;
}

#btnEmprendedorDelete {
    background-color: #f44336;
    color: #fff;
}

#btnEmprendedorDelete:hover {
    background-color: #e53935;
}
