.infografia-container {
    grid-column: 1/3 !important;
    grid-row: 3 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  
  .infografia {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional: esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra */
  }
  