.map-container {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e8f5e9; /* Fondo verde claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    margin-top: 5rem;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12rem;
  }
  
  .map-title {
    font-size: 2rem;
    color: #00695c; /* Verde oscuro */
    margin-bottom: 10px;
  }
  

  .leaflet-popup-content-wrapper{
    background-color: #0baa90;
  }

  .map-description {
    font-size: 1rem;
    color: #004d40; /* Turquesa oscuro */
    margin-bottom: 20px;
  }

  .popup-container {
    font-family: Arial, sans-serif;
    text-align: left;
    line-height: 1.5;
    background: linear-gradient(135deg, #31e637, #81c784); /* Degradado verde */
    padding: 10px;
    border-radius: 10px;
    color: #ffffff; /* Texto blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltarlo */
    border-color: #0baa90;
    border-width: 2rem;
  }
  
  
  .popup-container h3 {
    margin: 0 0 5px 0;
    font-size: 1.3rem;
    color: #ffffff; /* Asegura que el título sea blanco */
  }
  
  .popup-container p {
    margin: 5px 0;
    font-size: 0.95rem;
  }
  
  .popup-container strong {
    font-weight: bold;
    color: #f1f8e9; /* Un verde más claro para destacar */
  }

  