.map-container {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #e8f5e9; /* Fondo verde claro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

}

.map-title {
  font-size: 2rem;
  color: #00695c; /* Verde oscuro */
  margin-bottom: 10px;
}

.map-description {
  font-size: 1rem;
  color: #004d40; /* Turquesa oscuro */
  margin-bottom: 20px;
}
