Estilo general del contenedor
.ctn-productos {
  padding: 20px;
  border-radius: 10px;
  grid-row: 3;
  grid-column: 1/3;
}

/* Estilos para las tarjetas de productos */
.productEco {
  background: linear-gradient(145deg, #4afcbbf6, #edff9384); /* Degradado verde claro */
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.662);
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
  overflow: hidden;
}

.productEco:hover {
  transform: scale(1.05);
}

/* Imagen dentro de la tarjeta */
.product-image {
  height: 250px;
  object-fit: contain;
  
}

/* Estilos para el título del producto */
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e7d32; /* Verde oscuro */
  text-align: center;
}

/* Estilos para los textos dentro de la tarjeta */
.card-text {
  font-size: 1rem;
  color: #0077b6; /* Azul medio */
  text-align: center;
}

/* Estilos del botón */
.btn-primary {
  background-color: #0077b6; /* Azul vibrante */
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #005f86; /* Azul más oscuro */
}

/* Responsividad */
@media (max-width: 768px) {
  .productEco {
    margin: auto;
    width: 90%;
  }
}
