@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
}
::selection {
  color: #fff;
  background: #d43f8d;
}
.containerRegistro {
  width: 330px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}
.containerRegistro headerRegistro {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.containerRegistro .formOuterRegistro {
  width: 100%;
  overflow: hidden;
}
.containerRegistro .formOuterRegistro form {
  display: flex;
  width: 400%;
}
.formOuterRegistro form .pageRegistro {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.formOuterRegistro form .pageRegistro .titleRegistro {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.formOuterRegistro form .pageRegistro .fieldRegistro {
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .pageRegistro .fieldRegistro .labelRegistro {
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .pageRegistro .fieldRegistro input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .pageRegistro .fieldRegistro select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .pageRegistro .fieldRegistro button {
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #d33f8d;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .pageRegistro .fieldRegistro button:hover {
  background: #000;
}
form .pageRegistro .btnsRegistro button {
  margin-top: -20px !important;
}
form .pageRegistro .btnsRegistro button.prevRegistro {
  margin-right: 3px;
  font-size: 17px;
}
form .pageRegistro .btnsRegistro button.nextRegistro {
  margin-left: 3px;
}
.containerRegistro .progressBarRegistro {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.containerRegistro .progressBarRegistro .stepRegistro {
  text-align: center;
  width: 100%;
  position: relative;
}
.containerRegistro .progressBarRegistro .stepRegistro p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progressBarRegistro .stepRegistro .bulletRegistro {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progressBarRegistro .stepRegistro .bulletRegistro.active {
  border-color: #d43f8d;
  background: #d43f8d;
}
.progressBarRegistro .stepRegistro .bulletRegistro span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progressBarRegistro .stepRegistro .bulletRegistro.active span {
  display: none;
}
.progressBarRegistro .stepRegistro .bulletRegistro:before,
.progressBarRegistro .stepRegistro .bulletRegistro:after {
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progressBarRegistro .stepRegistro .bulletRegistro.active:after {
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animateRegistro 0.3s linear forwards;
}
@keyframes animateRegistro {
  100% {
    transform: scaleX(1);
  }
}
.progressBarRegistro .stepRegistro:last-child .bulletRegistro:before,
.progressBarRegistro .stepRegistro:last-child .bulletRegistro:after {
  display: none;
}
.progressBarRegistro .stepRegistro p.active {
  color: #d43f8d;
  transition: 0.2s linear;
}
.progressBarRegistro .stepRegistro .checkRegistro {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progressBarRegistro .stepRegistro .checkRegistro.active {
  display: block;
  color: #fff;
}
