/* Estilo del contenedor del sidebar */
.sidebarContainer {
  position: fixed;
  left: -250px; /* Posición inicial oculta */
  width: 250px;
  height: 100%;
  background: rgba(10, 168, 142, 0.855);
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 500;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px; /* Espacio para el botón */
  overflow-y: auto;
}

.sidebarContainer.open {
  left: 0;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1rem;
  flex-grow: 1;
}

/* Enlaces de la barra lateral */
.sidebarLink {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.sidebarLink:hover {
  color: white;
  background-image: linear-gradient(45deg, #07eb1a, #09a799, #65e470);
  background-size: 200% 200%;
  animation: gradientAnimation 2s infinite;
}

/* Animación de gradiente */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Botón de menú (para abrir el sidebar) */
.menuButton1 {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: #06ff12;
  cursor: pointer;
  padding: 5px;
  display: block;
}

.menuButton1:hover {
  background-color: #1cffec69;
}

/* Botón de cerrar el sidebar */
.closeButton1 {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 20px;
  display: none;
}

.sidebarContainer.open .closeButton1 {
  display: block;
}

/* Botón de cerrar sesión */
.logout-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
  width: 80%;
  text-align: center;
}

.logout-button:hover {
  background-color: #ff0000;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  .menuButton1 {
    display: block;
  }

  .sidebarContainer {
    width: 250px;
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  .menuButton1 {
    display: none;
  }

  .sidebarContainer {
    left: 0;
    width: 250px;
  }
}
