/* Estilo básico */
.AdminSidebarContainer {
  margin-top: 1rem;
}

/*logout*/
/* Estilos para el botón de cierre de sesión */
.sidebarLogoutButton {
  background-color: #f44336; /* Rojo de advertencia */
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.3s ease-in-out;
}

.sidebarLogoutButton:hover {
  background-color: #d32f2f; /* Rojo más oscuro al pasar el ratón */
}


.sidebarContainer {
  position: fixed;
  top: 0;
  left: -250px; /* Posición inicial fuera de la vista */
  width: 8rem;
  height: 100%;
  background: rgba(10, 168, 142, 0.855);
  color: white;
  transition: left 0.3s ease-in-out;
  z-index: 500; /* Menor z-index para estar debajo del navbar */
  margin-top: 3.8rem;
}

.sidebarContainer.open {
  left: 0;
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 1rem;
}

/* Enlaces de la barra lateral */
.sidebarLink {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.sidebarLink:hover {
  color: white;
  background-image: linear-gradient(45deg, #07eb1a, #09a799, #65e470);
  background-size: 200% 200%;
  animation: gradientAnimation 2s infinite;
}

/* Animación de gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Botones */
.menuButton1 {
  position: fixed;
  top: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: #06ff12;
  cursor: pointer;
  padding: 5px;
  display: none; /* Oculto por defecto */
}

.menuButton1:hover {
  background-color: #1cffec69;
}

#tituloSideBar {
  justify-self: center;
}

.closeButton1 {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  align-self: flex-end;
}

.sidebarContainer.open .closeButton1 {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menuButton1 {
    display: block;
  }

  .sidebarContainer {
    width: 250px;
    margin-top: 0; /* Ajustar el margen superior para pantallas pequeñas */
  }

  .sidebarContainer.open {
    left: 0; /* Mostrar la barra lateral en pantallas pequeñas */
  }
}

@media (min-width: 769px) {
  .menuButton1 {
    display: none;
  }

  .sidebarContainer {
    left: 0;
    width: 250px;
    margin-top: 3.8rem;
  }
}
